body {
        background-image: url("file:///C:/Users/18scottm/Downloads/1920x500-54f92705c90e8c6b54000004.gif_w=500");
	}
p {
    color: white;
    text-align: center;
}

p1 {
    color: white;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
}
